NODE_ENV=development
PORT=3000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=reservas_sandbox
DB_USERNAME=root
DB_PASSWORD=password

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=cajasan-sandbox

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=example@gmail.com
SMTP_PASS=your_password
EMAIL_FROM=example@gmail.com 


ADMIN_URL=http://localhost:8080

JWT_SECRET=I6sDPiwKMcmblFe4j3hvwB+8KeCUC4AN1Q+1zFKcW4g=

DISCORD_WEBHOOK_URL=
